DATABASE_URL="postgresql://postgres:postgres@host.docker.internal:5432/customer_service_ai"
REDIS_URL=redis://default:password@host.docker.internal:6379
MODEL_NAME="moonshotai/kimi-k2:free"
EMBEDDING_MODEL_NAME="nvidia/nv-embedqa-mistral-7b-v2"
EMBEDDING_URL="https://integrate.api.nvidia.com/v1"
EMBEDDING_API_KEY=
NVIDIA_API_KEY=